/*  
Version: 1.0
Author: Louis_diox
Name: Animated speaker
*/

.voice-container > ul.voice-states {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    gap: 50px!important;
    margin-top: 50px!important;
  }
  
  li.voice-state{
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
    position: relative!important;
    width: 126px!important;
    height: 126px!important;
  }
  
  img.avatar{
    margin: 0!important;
    padding: 0!important;
    border-radius: 10px!important;
    height: 120px!important;
    width: 120px!important;
    outline: solid 3px black!important;
    border: none!important;
    position: relative!important;
    transition: 0.2s ease!important;
  }
  
  img.avatar.speaking {
    outline: solid 3px #8bbf5e!important;
    transition: 0.2s ease!important;
  }
  
  .user {
    position: absolute!important;
    bottom: 3px!important;
    left: 3px!important;
    text-align: center!important;
  }
  
  li.voice-state > img.avatar.speaking + .user::before{
    opacity: 1!important;
    transition: 0.2s ease; 
  }
  
  .user::before{
    content: ""!important;
    position: absolute!important;
    top: -185%!important;
    right: -15%!important;
    width: 50px!important;
    height: 50px!important;
    background-image: url("https://assets.juicystream.tv/gifs/volume.gif")!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-size: 60%!important;
    background-color: #8bbf5e!important;
    border-radius: 50vw!important;
    transform-origin: center center!important;
    animation: volumeSpin 1.5s ease-in-out alternate infinite!important;
    opacity: 0;
    transition: 0.2s ease; 
  }
  
  .user .name {
    background-color: rgba(0,0,0,0.7)!important;
    display: block!important;
    width: 100px!important;
    height: 25px!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    padding: 6px 10px 0px 10px!important;
    font-size: 100%!important;
    border-radius: 0px!important;
    border-bottom-right-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
  }
  
  @keyframes volumeSpin {
    from {
      transform: rotate(-8deg)
    }
    to {
      transform: rotate(8deg)
    }
  }
